@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* h2{
        @apply text-xl text-sky-600
    } */
    p{
        @apply text-gray-300
    }
    textarea{
        @apply rounded-lg
    }
    main{
        @apply md:bg-slate-900 h-[100%]
    }

    body{
        @apply bg-slate-900 overflow-x-hidden
    }
    body::-webkit-scrollbar {
        width: 5px; /* Adjust scrollbar width */
    }
    
    body::-webkit-scrollbar-track {
        @apply bg-slate-900 /* Set track color */
    }
    
    body::-webkit-scrollbar-thumb {
        /* background-color: #ccc; Set thumb color */
        /* border-radius: 5px; Add rounded corners */
        @apply bg-slate-800 rounded-full
    }
   
   
}
@layer components{

    .custom-scroll::-webkit-scrollbar {
        width: 5px; /* Adjust scrollbar width */
    }
    .custom-scroll::-webkit-scrollbar-track{
        @apply bg-slate-900 /* Set track color */
    }

    /* button section */
    .btn-edit{
        @apply bg-blue-900 text-white px-4 py-1 block w-fit rounded-md ;
    }
    .btn-submit{
        @apply bg-slate-900 text-white px-4 py-1 block w-fit rounded-md 
    }
    .btn-danger{
        @apply bg-orange-900 text-white px-4 py-1 block w-fit rounded-md
    }
    .btn-show{
        @apply border text-white px-4 py-1 block w-fit rounded-md
    }
    .btn-primary{
        @apply bg-slate-900 text-white px-4 py-1 block w-fit rounded-md
    }
    .btn-default{
        @apply bg-slate-400 text-black px-4 py-1 block w-fit rounded-md
    }
    .btn{
        @apply shadow-lg
    }
    .btn:hover{
        @apply bg-opacity-50 scale-x-105
    }

    /* end button section */


    /* widget */
.widget{
    @apply rounded-xl overflow-hidden;
    background: #1f567c;
}
    /* end widget */
    .input-text{
        @apply bg-slate-800 text-slate-300 shadow-md rounded-md placeholder:text-slate-400 w-full border-none ;
    }
    label{
        @apply text-slate-400 font-bold
    }
    .page-header{
        @apply text-white font-bold text-7xl z-50
    }
    .page-header-div{

    }
    .panel{
        @apply bg-slate-800 rounded-xl max-w-7xl mx-auto p-5 sm:px-6 lg:px-8 shadow-lg my-3; 
    }
    .table{
        @apply bg-slate-900  w-full rounded-md overflow-hidden text-slate-300
    }
    .table table{
        @apply w-full
    }
    .table thead{
        @apply bg-slate-800 rounded-t-md
    }
    .table tr{
        @apply border-b p-2 border-slate-500 
    }
    .table tr>td,.table th{ 
        @apply text-center p-2 text-slate-300
    }
    /* input */
    .search-form{
        @apply flex bg-slate-900 text-slate-200 w-fit rounded-md
    }
    .search-form>input{
        @apply bg-transparent focus:outline-none ml-5
    }.search-form>button{
        @apply bg-slate-800 p-2 rounded-md
    }
    .input-search{
        @apply h-10 rounded-xl mx-1 w-80;
    }
    .input-search:active{
       @apply h-10 rounded-r mr-1 w-80 border-l-white;
    }
    /* end input */


    /* card */
    .card{
        /* @apply bg-white overflow-hidden shadow-sm rounded-lg w-80 md:w-[50%] mx-auto shadow-xl p-6 border-sky-500  border-r border-b mt-4 */
        @apply bg-slate-700 shadow-lg p-8 rounded-xl  text-white capitalize m-2
    }   
    /* end card */


    /* btn */
    .btn-save{
        @apply bg-slate-900 text-center text-white rounded py-2 px-1 w-28 mt-4
    }
    .btn-save:hover{
        @apply bg-slate-800;
    }
    .btn-save:active{
        @apply bg-slate-700 
    }
    /* .btn-edit{
        @apply bg-blue-600 text-center text-white rounded py-2 px-1 w-28 mt-4
    } */
    .btn-search{
        @apply bg-blue-600 text-center text-white rounded-xl py-2 px-1 w-28
    }
    /* end btn */
    /* list */
    .lit{
        @apply mx-auto p-8 justify-items-center
    }
    /* end list */
    /* link */
    .link{
        @apply text-sky-500 m-4
    }
    /*end link */
    .detail{
        @apply text-justify mb-3
    }
    /* .btn-danger{
        @apply bg-red-600 text-center text-white rounded py-2 px-1 w-28 mt-4 hover:bg-red-500
    }
    .btn-more{
        @apply border-sky-800 text-sky-800 border-[1px] rounded px-2;
    } */
    .input-select{
        @apply block w-full rounded border-gray-500 hover:border-sky-600;
    }
    .alert-success{
        @apply p-2 mt-4 mx-auto bg-green-400  text-gray-900 text-center rounded-lg border-solid border-green-900 border-spacing-1 border-2 w-80 md:w-[50%] animate-bounce;
    }
    .alert-danger{
        @apply p-2 mt-4 mx-auto bg-red-300  text-white text-center rounded-lg border-solid border-red-900 border-spacing-1 border-2 w-80 md:w-[50%] animate-bounce;
    }
    .active-link{
        @apply inline-flex items-center text-sm font-medium leading-5 text-white  transition duration-150 ease-in-out bg-slate-700  text-center p-3 h-[30px] rounded-md shadow-lg capitalize ;
    }
    .active-link:focus{
        @apply outline-none border-white
    }
    .menu-welcome{
        @apply bg-slate-500 w-full
    }
    body , html{
    @apply bg-slate-900
}
}
html body{
    background-color: rgba(10, 10, 16, 0.881);
    width: 100vw;
    height: 100vh;
}



